# 파이썬 한권으로 끝내기 

### 제 2장

DataFrame 기본 (page 16~25)

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\its\anaconda3\lib\site-packages (1.3.4)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pytz>=2017.3 in c:\users\its\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\its\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\its\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\its\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)

In [3]:
import pandas as pd

In [5]:
df = pd.DataFrame({'class': ['kor','math'], 'score': [70,80]})
# DataFrame 선언하기

In [7]:
filepath = 'dataset/data.csv'
data = pd.read_csv(filepath, na_values='NA', encoding='utf8')
# read_csv() 함수 이용하여 csv파일을 DataFrame 객체로 읽어들이기

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/data.csv'

In [8]:
data.to_csv('result.csv', header=True, index=True, encoding='utf8')
# DataFrame을 csv 파일로 저장하기

NameError: name 'data' is not defined

In [9]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\its\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.13.3 in c:\users\its\anaconda3\lib\site-packages (from scikit-learn) (1.20.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\its\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: joblib>=0.11 in c:\users\its\anaconda3\lib\site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=0.19.1 in c:\users\its\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)
Note: you may need to restart the kernel to use updated packages.

In [11]:
from sklearn.datasets import load_iris
iris = load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)
iris

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [12]:
iris.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [13]:
iris.tail() 
# head() 와 tail() 괄호 안에 아무 숫자도 지정하지 않으면 
# 컬럼명을 포함하여 6줄을 출력함

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

In [14]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [15]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [16]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [17]:
list(df.index)

[0, 1]

In [20]:
df.index = ['A','B']
df.index

Index(['A', 'B'], dtype='object')

In [21]:
df

  class  score
A   kor     70
B  math     80

In [22]:
df.set_index('class', drop=True, append=False, inplace=True)
df

       score
class
kor       70
math      80

In [23]:
df.reset_index(drop=False, inplace=True)
df

  class  score
0   kor     70
1  math     80

In [24]:
iris.columns

Index(['sepal length (cm)', 'sepal width (cm)', 'petal length (cm)',
       'petal width (cm)'],
      dtype='object')

In [26]:
iris.columns = ['sepal length', 'sepal width', 'petal length', 'petal width']
iris.head(3)

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [27]:
iris.columns = iris.columns.str.replace(' ','_')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [28]:
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
dtype: object

In [29]:
iris['sepal_length'] = iris['sepal_width'].astype('int')
iris[['sepal_width', 'petal_length']] = \
iris[['sepal_width', 'petal_length']].astype('int')
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width
0             3            3             1          0.2
1             3            3             1          0.2
2             3            3             1          0.2