<a href="https://colab.research.google.com/github/DSWoodin/Pythonworkspace/blob/main/Hongong/DA/04_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 기술통계 구하기

In [1]:
import gdown
gdown.download('https://bit.ly/3736JW1', 'ns_book6.csv', quiet=False)

Downloading...
From: https://bit.ly/3736JW1
To: /content/ns_book6.csv
100%|██████████| 55.0M/55.0M [00:00<00:00, 61.0MB/s]

'ns_book6.csv'

In [2]:
import pandas as pd
ns_book6 = pd.read_csv('ns_book6.csv', low_memory=False)
ns_book6.head()

,번호,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,1,인공지능과 흙,김동훈 지음,민음사,2021.0,9788937444319,NaN,NaN,NaN,NaN,1,0,2021-03-19
1,2,가짜 행복 권하는 사회,김태형 지음,갈매나무,2021.0,9791190123969,NaN,NaN,NaN,NaN,1,0,2021-03-19
2,3,나도 한 문장 잘 쓰면 바랄 게 없겠네,김선영 지음,블랙피쉬,2021.0,9788968332982,NaN,NaN,NaN,NaN,1,0,2021-03-19
3,4,예루살렘 해변,"이도 게펜 지음, 임재희 옮김",문학세계사,2021.0,9788970759906,NaN,NaN,NaN,NaN,1,0,2021-03-19
4,5,김성곤의 중국한시기행 : 장강·황하 편,김성곤 지음,김영사,2021.0,9788934990833,NaN,NaN,NaN,NaN,1,0,2021-03-19

In [3]:
# decribe 메서드는 수치형 열에 대한 요약 통계를 보여줌
ns_book6.describe()

                  번호           발행년도           도서권수           대출건수
count  379976.000000  379976.000000  379976.000000  379976.000000
mean   201726.332847    2008.516306       1.135874      11.504629
std    115836.454596       8.780529       0.483343      19.241926
min         1.000000    1947.000000       0.000000       0.000000
25%    102202.750000    2003.000000       1.000000       2.000000
50%    203179.500000    2009.000000       1.000000       6.000000
75%    301630.250000    2015.000000       1.000000      14.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [4]:
# 대출건수가 0인 도서가 대출 데이터에 포함되어 있는 의문점
# 3천 개가 넘는 도서가 대출권수가 0임.
# 전체 데이터(379,976개)에 비하면 1%가 안되어 무시할 만한 수치
# 하지만 이러한 데이터가 꽤 많다면 어떤 이유에서 대출건수가 0인지 분석해야함
sum(ns_book6['도서권수']==0)

3206

In [5]:
# 대출권수가 0인 도서는 제외
ns_book7 = ns_book6[ns_book6['도서권수']>0]

In [6]:
# percentiles 매개변수를 이용해 분위수 지정 가능
ns_book7.describe(percentiles=[0.3, 0.6, 0.9])

                  번호           발행년도           도서권수           대출건수
count  376770.000000  376770.000000  376770.000000  376770.000000
mean   202977.476649    2008.460076       1.145540      11.593439
std    115298.245784       8.773148       0.473853      19.279409
min         1.000000    1947.000000       1.000000       0.000000
30%    124649.700000    2004.000000       1.000000       2.000000
50%    204550.500000    2009.000000       1.000000       6.000000
60%    243537.400000    2011.000000       1.000000       8.000000
90%    361341.100000    2018.000000       2.000000      28.000000
max    401681.000000    2650.000000      40.000000    1765.000000

In [7]:
# include 매개변수를 이용해 수치형 데이터가 아닌 데이터 열의 기술통계 확인가능
ns_book7.describe(include='object')

,도서명,저자,출판사,ISBN,세트 ISBN,부가기호,권,주제분류번호,등록일자
count,376770,376770,376770,376770,55866,308252,61793,359792,376770
unique,336408,248850,21875,350810,14875,17,834,12467,4562
top,승정원일기,세종대왕기념사업회 [편],문학동네,9788937430299,9788937460005,0,1,813.6,1970-01-01
freq,250,303,4410,206,702,158235,13282,14816,28185

## 평균 구하기

In [8]:
x = [10, 20, 30]
sum = 0
for i in range(3):
    sum += x[i]
print("평균:", sum / len(x))

평균: 20.0

In [9]:
# mean 매서드를 통해 편리하게 평균을 구할 수 있음
ns_book7['대출건수'].mean()

11.593438968070707

## 중앙값 구하기

In [10]:
ns_book7['대출건수'].median()

6.0

In [11]:
temp_df = pd.DataFrame([1,2,3,4])
temp_df.median()

0    2.5
dtype: float64

In [12]:
# drop_duplicate 메서드를 이용해 중복 제거한 후 중앙값 계산
ns_book7['대출건수'].drop_duplicates().median()
# 중복 제거 이후 중앙값이 매우 높아진 것으로 보아
# 작은 대출건수에 중복된 값이 많았음을 유추

183.0

## 최소값, 최대값 구하기

In [13]:
ns_book7['대출건수'].min()

0

In [14]:
ns_book7['대출건수'].max()

1765

## 분위수 구하기

In [15]:
# quantile() 메서드를 이용해 제1사분위수(하위 25%에 위치한 값) 계산
ns_book7['대출건수'].quantile(0.25)

2.0

In [16]:
ns_book7['대출건수'].quantile([0.25,0.5,0.75])

0.25     2.0
0.50     6.0
0.75    14.0
Name: 대출건수, dtype: float64

In [17]:
pd.Series([1,2,3,4,5]).quantile(0.9)
# 시리즈에 4.6이라는 값이 없지만 출력됨
# quantile() 메서드의 interpolation(보간) 매개변수의 default 값(linear)으로 계산됨

4.6

In [18]:
# 4와 5사이에서 90% 해당하는 분위수를 찾을 때 기본 interpolation 계산 방법
4 + (0.9-0.75)*(5-4)/(1.0-0.75)

4.6

In [19]:
# linear 말고도 다양한 보간(두 지점 사이에 놓인 특정 위치의 값을 계산) 방법
# midpoint는 중앙값을 출력
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='midpoint')

4.5

In [20]:
# nearest는 더 가까운 쪽을 출력
# 이 외에도 lower, higher 등의 옵션이 있음
pd.Series([1,2,3,4,5]).quantile(0.9, interpolation='nearest')

5

In [21]:
# 특정 값(대출건수 10)의 백분위수 구하기
borrow_10_flag = ns_book7['대출건수'] < 10
# 대출건수가 10보다 작은지 비교하여 불리언 배열을 생성

In [22]:
# 판다스에서 불리언 자료를 산술 연산하면 True는 1, False는 0으로 취급함
# 따라서 불리언 배열에 mean() 메서드를 호출하여 10보다 작은 값의 비율을 계산 가능
borrow_10_flag.mean()
# 대출건수가 10보다 작은 값의 비율이 전체의 64% 정도임

0.6402712530190833

In [23]:
# 따라서 10에 대한 백분위는 0.65 정도가 됨 (올림)
ns_book7['대출건수'].quantile(0.65)

10.0

## 분산

In [24]:
ns_book7['대출건수'].var()

371.69563042906674

## 표준편차

In [25]:
ns_book7['대출건수'].std()

19.279409493785508

## 최빈값

In [26]:
ns_book7['도서명'].mode()

0    승정원일기
Name: 도서명, dtype: object

In [28]:
ns_book7['발행년도'].mode()

0    2012.0
Name: 발행년도, dtype: float64

## 데이터프레임에서 기술통계 구하기

In [30]:
# 수치형 열만 계산하도록 파라미터 설정
ns_book7.mean(numeric_only=True)

번호      202977.476649
발행년도      2008.460076
도서권수         1.145540
대출건수        11.593439
dtype: float64

In [31]:
# 모든 행에 대해서, '도서명' 칼럼부터 마지막 칼럼(여기에서는 '등록일자')까지 mode
ns_book7.loc[:, '도서명':].mode()

,도서명,저자,출판사,발행년도,ISBN,세트 ISBN,부가기호,권,주제분류번호,도서권수,대출건수,등록일자
0,승정원일기,세종대왕기념사업회 [편],문학동네,2012.0,9788937430299,9788937460005,0,1,813.6,1,0,1970-01-01

In [32]:
ns_book7.to_csv('ns_book7.csv', index=False)

## 넘파이의 기술통계 함수
판다스가 아닌, 넘파이에서 기술통계 함수

## 평균 구하기

In [33]:
import numpy as np

np.mean(ns_book7['대출건수'])

11.593438968070707

In [35]:
# 넘파이에서 평균을 구하는 함수: mean(), average()
# mean()과 달리 average()에서는 가중치 파라미터를 설정하면 가중평균을 구할수 있음
np.average(ns_book7['대출건수'], weights=1/ns_book7['도서권수'])
# 가중치를 도서권수의 역수(1/도서권수)로 지정
# -> 도서권수가 많을 수록 낮은 대출건수 가중치

# 데이터프레임과 시리즈 객체에 산술 연산을 하면 모든 원소에 적용됨
# x = pd.Series([1,2,4]) 에서 1/x -> x = pd.Series([1,0.5,0.25])

10.543612175385386

In [36]:
# 모든 도서권수를 1로 설정
np.mean(ns_book7['대출건수']/ns_book7['도서권수'])

9.873029861445774

In [37]:
# 도서에 상관없이 한 권 당 대출건수
ns_book7['대출건수'].sum()/ns_book7['도서권수'].sum()

10.120503701300958

## 중앙값 구하기

In [39]:
np.median(ns_book7['대출건수'])

6.0

## 최솟값, 최댓값 구하기

In [40]:
np.min(ns_book7['대출건수'])

0

In [41]:
np.max(ns_book7['대출건수'])

1765

## 분위수 구하기

In [ ]:
# 판다스의 quantile() 메서드처럼 넘파이의 quantile() 메서드에서도 보간 방식을 지원
# interpolation 매개변수가 numpy 1.22(python >= 3.8) 버전부터 method로 바뀜
np.quantile(ns_book7['대출건수'], [0.25,0.5,0.75])

## 분산 구하기

In [43]:
np.var(ns_book7['대출건수'])

371.6946438971496

In [45]:
ns_book7['대출건수'].var()
# 판다스의 var과 넘파이 var의 결과가 다름
# 판다스는 분산 계산시 분모를 n-1(자유도)로 나누고, -> ddof 매개변수 default: 1
# 넘파이는 분산 계산시 분모를 n으로 나누기 때문임 -> ddof 매개변수 default: 0
# 표본집단으로 모집단을 추청할때 자유도를 n-1로 계산하는것이 맞음
# 판다스가 주로 데이터 분석에 사용되므로 n-1이 기본값, 넘파이와는 차이가 있음

371.69563042906674

In [48]:
# ddof 매개변수를 판다스의 var()와 똑같이 설정하였더니 결과가 같음
np.var(ns_book7['대출건수'], ddof=1)

371.69563042906674

## 표준 편차 구하기

In [49]:
np.std(ns_book7['대출건수'])

19.27938390865096

In [50]:
np.std(ns_book7['대출건수'], ddof=1)

19.279409493785508

## 최빈값 구하기

In [52]:
# 넘파이에는 최빈값을 반환해주는 메서드가 따로 없음 -> unique()를 이용해 유도 가능
# unique()는 배열에서 고유한 값을 반환함
# return_counts=True로 설정하면 고유한 값의 등장 횟수도 반환함
values, counts = np.unique(ns_book7['도서명'], return_counts=True)
values, counts

(array([' (꼭 필요한 것부터 쉽게 배우는) 자신만만 블로그 차근차근 배우기 ', ' (맨처음 배우는) 세상의 직업',
        ' (영잘원 리스닝과 패턴 영어의 절묘한 만남으로 태어난 ) 리스닝 ABC : 입문편 ', ...,
        '＋α를 위한 도전', '＠좌절＋열공 :우리 시대 멘토 9인이 전하는 좌절 극복과 진짜 공부 이야기 ', 'ｉ'],
       dtype=object),
 array([1, 1, 1, ..., 1, 1, 1]))

In [54]:
# counts 배열에서 가장 큰 값의 인덱스를 찾아야 함 -> argmax() 사용
max_idx = np.argmax(counts)
max_idx

205707

In [55]:
# 해당 인덱스의 값 출력
values[max_idx]

'승정원일기'

## 확인문제

In [62]:
ns_book7[['출판사','대출건수']].groupby(by='출판사').mean().sort_values('대출건수', ascending=False).head(10)

                       대출건수
출판사
동녁라이프            224.000000
와이비엠시사           215.000000
환상               210.000000
두앤비컨텐츠(랜덤하우스중앙)  167.000000
개미들출판사-에셀문화사     157.000000
해커스 어학 연구소       149.500000
Test clinic      137.000000
마야출판사            133.333333
해밀 & Co.         133.000000
마그나(Magna)       130.000000

In [63]:
target_range = np.array(ns_book7['대출건수'].quantile(q=[0.25,0.75]))
target_bool_idx = (ns_book7['대출건수'] >= target_range[0]) & (ns_book7['대출건수'] <= target_range[1])
target_bool_idx.sum()/len(ns_book7)*100

51.51737134060568